* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#movie-backdrop {
  width: 100%;
}

.container {
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}
.carouselContinar {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.carouselSlide {
  display: flex;
  height: 100%;
}
