#movie-backdrop {
    width: 100%;
}

.container {
    padding-top: 32px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
}

#actors {
    margin: 24px 16px 0 0;
}

.homeMidContainer{
    display: flex;
    max-width: 0.2em
}



/* Movie Card Start */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 450px;
    margin: 50px auto;
    background: #2a264f;
    border: 5px solid #1a163f;
    border-radius: 3px;
    box-shadow: 0 0 10px #2a264f;
  }
  
  .card .img1 {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  
  .card .title {
    height: 22%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: white;
    padding: 15px 10px;
    position: absolute;
    left: 0;
    transform: translate(160px, 0);
    opacity: 0;
    transition: all 0.5s ease;
    /* box-shadow: 0 -95px 28px -25px #000 inset; */
  }

  .card .text {
    position: absolute;
    bottom: 80px;
    height: 120px;
    padding: 15px 10px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    transform: rotate(90deg);
    transform-origin: 0 100px;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .card .catagory {
    position: absolute;
    left: 10px;
    top: 140px;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background: #2a264f;
    color: #fff;
    border-radius: 5px;
    transform: translate(-160px, 0);
    transition: all 0.5s ease;
  }
  
  .card .views {
    position: absolute;
    left: 10px;
    top: 175px;
    padding: 3px 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    background: #8b2463;
    color: #fff;
    border-radius: 5px;
    transform: translate(-160px, 0);
    transition: all 0.5s ease 0.15s;
  }
    
  .card:hover .title {
    opacity: 1;
    transform: rotate(0deg);
  }

  .card:hover .text {
    opacity: 0.8;
    transform: rotate(0deg);
  }
  
  .card:hover .views,
  .card:hover .catagory {
    transform: translate(0);
  }
  
/* Movie Card End  */

/* Buttons Start */
  /* .button-78 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-78 {
      padding: 19px 32px;
    }
  }
  
  .button-78:before,
  .button-78:after {
    border-radius: 80px;
  }
  
  .button-78:before {
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button-78:after {
    background-color: initial;
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button-78:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
  }
  
  .button-78:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  
  .button-78:active:not(:disabled) {
    color: #ccc;
  }
  
  .button-78:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  }
  
  .button-78:active:not(:disabled):after {
    background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button-78:disabled {
    cursor: default;
    opacity: .24;
  } */



.cardContainer2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}